<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059331733377-csljg6e9pneejit48hjjqs8d3il4r217.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059331733377-csljg6e9pneejit48hjjqs8d3il4r217</string>
	<key>API_KEY</key>
	<string>AIzaSyAOmQPD69E9uTYCfa9eEr-YYA5-vF0BcV4</string>
	<key>GCM_SENDER_ID</key>
	<string>1059331733377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amantoshniwal.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-65704</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-65704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059331733377:ios:69f567a07bcfcd446e1a80</string>
</dict>
</plist>